version: '2'
services: 
  tweet:
        build: ./tweet-ei-inference
        privileged: true
        restart: always
        depends_on:
                - wifi-connect
        labels:
                io.balena.features.dbus: '1'
                io.balena.features.kernel-modules: '1'
        volumes: 
                - 'shared-data:/var/data'
                - 'shared-media:/var/media'
  face:
        build: ./face-ei-inference
        privileged: true
        restart: always
        # depends_on:
        #         - wifi-connect
        labels:
                io.balena.features.dbus: '1'
                io.balena.features.kernel-modules: '1'
        volumes: 
                - 'shared-data:/var/data'
                - 'shared-media:/var/media'
  camera:
        build: ./camera-dash
        privileged: true
        restart: always
        volumes: 
                - 'shared-data:/var/data'
                - 'shared-media:/var/media'
        depends_on:
                - face
                - tweet
        ports:
                - "80"
                
        labels:
                io.balena.features.kernel-modules: '1'
#   finblock:
#         restart: always
#         image: balenablocks/finabler:latest
#         network_mode: host
#         privileged: true
#         volumes:
#                 - 'fin:/data/firmware'
#         labels:
#                 io.balena.features.supervisor-api: '1'
#                 io.balena.features.balena-api: '1'
#         expose:
#                 - "1337"
  wifi-connect:
        build: ./wifi-connect
        restart: always
        network_mode: host
        privileged: true
        labels:
                io.balena.features.dbus: '1'
                io.balena.features.firmware: '1'
        cap_add:
                - NET_ADMIN
        environment:
                DBUS_SYSTEM_BUS_ADDRESS: "unix:path=/host/run/dbus/system_bus_socket"

volumes:
        shared-data: 
        shared-media:
        fin:
